# JuiceTap Environment Configuration

# Google Apps Script Web App Endpoint for Contact Us Form
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwftEbLQRNmyh7BNBWzT9NS3bdHRPWNzOL2Ys_-cBJK5yZ8MBey2JPUhBg6pg-j82DBiQ/exec

# Location & Certificate APIs
VITE_LOCATION_API_URL=https://script.google.com/macros/s/AKfycbw3Xu22i4-6US-rsVxFAEWXKy_UmYs6DZL0KYVIcveXAi_fEkq2QLGKVr1zZw9Ke7H-zQ/exec
VITE_CERTIFICATE_API_URL=https://script.google.com/macros/s/AKfycbzp5OjGfZGjg7eXwmwffiwyTui_7URfVk-k2JXMdp_6pYN4skweivbEE9wfMwcaIg/exec
